<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <center>
            <a href="/Home/Index" class="btn btn-danger">Home</a>
            <a href="/Home/AboutUs" class="btn btn-primary">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-success">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-warning">Privacy</a>

        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <center>Copy Right Route Academy @DateTime.Now.Year</center>
    </footer>
</body>
</html>
